DIR="/home/antergos"
CODE_DIR="/tmp/code_build_antergos"
CNCHI_INSTALL="/home/antergos/root-image/"
URL="http://mirrors.antergos.com/iso/testing"

iso_name=antergos
iso_version=$(date +%Y.%m.%d)
arch=$(uname -m)

# Mail config
TO="antergos-dev@mailman.antergos.com"
FROM="info@antergos.com"

BUILD="0"
